<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="ion-thermometer"></i>
              </div>
              <div class="col-xs-9 panel-element">
                <div class>
                  <h5>
                    Current Temperature</h5>
                </div>
                <div class="huge">
                  <h2 id='current_temperature'><%= @current_temperature.measurement %></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="ion-android-cloud"></i>
              </div>
              <div class="col-xs-9 panel-element">
                <div class>
                  <h5>Current Humidity</h5>
                </div>
                <div class="huge">
                  <h2 id="current_humidity"><%= @current_humidity.measurement %></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="ion-waterdrop"></i>
              </div>
              <div class="col-xs-9 panel-element">
                <div class>
                  <h5>Current Moisture</h5>
                </div>
                <div class="huge">
                  <h2 id="current_moisture"><%= @current_moisture.measurement %></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="streampadding">
      <a href="/stream"><img src="http://192.168.1.12:8080/?action=stream" height="30%" width="80%" alt="video"></a>
    </div>
  </div>
</div>
<div class="col-md-1"></div>
